@font-face {
    font-family: estedad;
    src: url(/assets/fonts/estedad/Estedad-FD-Thin.woff2) format("woff2");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: estedad;
    src: url(/assets/fonts/estedad/Estedad-FD-Light.woff2) format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: estedad;
    src: url(/assets/fonts/estedad/Estedad-FD-Regular.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: optional;
}
@font-face {
    font-family: estedad;
    src: url(/assets/fonts/estedad/Estedad-FD-Medium.woff2) format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: optional;
}
@font-face {
    font-family: estedad;
    src: url(/assets/fonts/estedad/Estedad-FD-SemiBold.woff2) format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: optional;
}
@font-face {
    font-family: estedad;
    src: url(/assets/fonts/estedad/Estedad-FD-Bold.woff2) format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: optional;
}
@font-face {
    font-family: estedad;
    src: url(/assets/fonts/estedad/Estedad-FD-ExtraBold.woff2) format("woff2");
    font-weight: 800;
    font-style: normal;
    font-display: optional;
}
