* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}
:root {
    --color-body: #f4f4f4;
    --color-primary: #f59e0c;
    --color-secondary: #f4f4f4;
    --color-text: #64748b;
    --color-title: #1C274C;
    --color-border: #eee;
    --color-white: #fff;
    --color-gray: #999;
    --color-success: #10b981;
    --bg-success: rgba(16, 185, 129, 0.1);
    --color-error: #ef4444;
    --bg-error: rgba(239, 68, 68, 0.1);
    --color-warning: #e1ae13;
    --bg-warning: #fff3cd;
    --color-block: #fff;
    --pd-block: 20px;
}
@media (max-width: 600px) {
    :root {
        --pd-block: 15px;
    }
}
.bg-primary {
    background-color: var(--color-primary);
}
.bg-secondary {
    background-color: var(--color-secondary);
}
.bg-success {
    background-color: var(--bg-success);
}
.bg-error {
    background-color: var(--bg-error);
}
.bg-warning {    
    background-color: var(--bg-warning);
}
.text-primary {
    color: var(--color-primary);
}
.text-secondary {
    color: var(--color-secondary);
}
.text-success {
    color: var(--color-success);
}
.text-error {
    color: var(--color-error);
}
.text-warning {
    color: var(--color-warning);
}
.text-gray {
    color: var(--color-gray);
}
.text-title {
    color: var(--color-title);
}
h1, h2, h3, h4, h5, h6 , strong {
   color: var(--color-title);
}
strong {
    font-weight: 600
}
img {
    display: block;
    max-width: 100%;
}
input {
    font-family: estedad;
}
body {
    font: 13px/28px 'estedad', Tahoma, Geneva, Verdana, sans-serif;
    background: var(--color-body);
    color: var(--color-text);
    letter-spacing: -4%;
}
.app {
    display: flex;
    height: 100vh;
    overflow: hidden
}
.side-menu {
    width: 80px;
    background-color: var(--color-block);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.side-menu .logo {
    margin-bottom: 40px;
    max-width: 30px;
}
.side-menu ul {
    list-style: none;
    width: 100%;
}
.side-menu ul li {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
.side-menu ul li a {
    color: #333;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    transition: background-color 0.3s;
}
.side-menu ul li a:hover {
    background-color: var(--color-secondary);
}
.side-menu ul li a.active {
    background-color: var(--bg-warning);
    color: var(--color-warning);
}
@media (max-width: 600px) {
    .side-menu {
        display: none
    }
}
.container {
    flex: 1;
    overflow: auto;
}
.center {
    max-width: 1400px;
    margin: 0 auto;
    padding: var(--pd-block);
}
.icon-size-1 {
    width: 12px;
    height: 12px;
}
.icon-size-2 {
    width: 16px;
    height: 16px;
}
.icon-size-3 {
    width: 18px;
    height: 18px;
}
.icon-size-4 {
    width: 20px;
    height: 20px;
}
.icon-size-5 {
    width: 22px;
    height: 22px;
}
.icon-size-6 {
    width: 24px;
    height: 24px;
}
.card {
    background: var(--color-block);
    padding: var(--pd-block);
    border-radius: 16px;
    flex-grow: 1;
    white-space: nowrap;
border: 1px solid var(--color-border);
}
.pd-md {
    padding: var(--pd-block);
}
.gap-md {
    gap: var(--pd-block);
}
.bg-block {
    background-color: var(--color-block);
}
.item-list {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out
}
.item-list:hover {
    box-shadow: inset 0 0 0 1px  #ddcb9345;
    background: #fff3cd3d;
}
.item-list h2 {
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* form input */
.input-item {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--color-border);
    border-radius: 10px;
    padding: 8px 12px;
    background-color: var(--color-white);
    transition: border-color 0.3s;
    flex-grow: 1;
}
.input-item  input {
    width: 0;
    flex-basis: 100px;
    flex-grow: 1;
}
input:focus {
    outline: none;
}
/*  */
.status-badge {
    padding: 4px 12px;
    border-radius: 8px;
    font-size: 0.8em;
    font-weight: 600;
    display: inline-block;
}
.status-badge.success {
    background: var(--bg-success);
    color: var(--color-success);
    border: 1px solid rgba(16, 185, 129, 0.2);
}
.status-badge.error {
    background: var(--bg-error);
    color: var(--color-error);
    border: 1px solid rgba(239, 68, 68, 0.2);
}